on:
  pull_request:
    types: [opened, labeled, unlabeled, synchronize]

jobs:
  confirm-qa-label:
    runs-on: ubuntu-latest
    name: Confirm QA Label
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2

      - name: Load Dependencies
        run: npm i @actions/core && nmp i @actions/

      - name: Confirm Label
        id: confirm-qa-label
        uses: ./.github/actions/confirm-qa-label
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          pull-number: ${{ github.event.pull_request.number }}

      - name: Print Success
        run: echo "The labels for pull request ${{ github.event.pull_request.number }} are ${{ steps.confirm-qa-label.outputs.labels }}. Action successful."
